{% extends "layout.html.twig" %}
{% trans_default_domain 'ScyLabsUserProfileBundle' %}

{% block content %}
    <div id="user-profile-container" class="{% block user_profile_add_classes %}{% endblock %}">

        <h1>{% block title %}{{  app.request.get('_route') | trans }}{% endblock title %}</h1>
        <div class="box">

            {% block content_profile %}
                {% block fos_user_content %}
                {% endblock fos_user_content %}
            {% endblock %}
        </div>
    </div>


{% endblock content %}
    
{% block css %}
    {% if app.environment == 'prod' %}
        <link rel="stylesheet" href="{{ asset('bundles/scylabsuserprofile/css/user_profile.css') }}"/>
    {% else %}
        <link rel="stylesheet/less" href="{{ asset('bundles/scylabsuserprofile/css/user_profile.less') }}"/>
    {% endif %}
    {{ ScyLabs_showHook(_self,'ScyLabsUserBundle.head_assets') | raw }}
{% endblock %}
{% block afterScriptLoader %}
    scriptLoader.add({
        src: "{{ asset('bundles/scylabsuserprofile/js/user_profile.js') }}"
    });
    {{ ScyLabs_showHook(_self,'ScyLabsUserBundle.afterScriptLoader') | raw }}

{% endblock %}