{% extends "@ScyLabsUserProfile/layout.html.twig" %}
{% trans_default_domain 'ScyLabsUserProfileBundle' %}

{% block content_profile %}


    <div class="form">

        <form action="{{ path("fos_user_security_check") }}" method="post">

            <div class="form-group">
                <label for="username">{{ 'security.login.username'|trans }}</label>
                <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username" />
            </div>
            <div class="form-group">
                <label for="password">{{ 'security.login.password'|trans }}</label>
                <input type="password" id="password" name="_password" required="required" autocomplete="current-password" />
                <button data-hidden="{{ 'Montrer' | trans }}" data-showed="{{ 'Cacher' | trans }}" class="switchPassWord"></button>
            </div>
            {% if error %}
                <div class="error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            <div class="form-group">
                <input type="checkbox" id="remember_me" name="_remember_me" value="on" />

                <label for="remember_me">
                    <span class="text">{{ 'security.login.remember_me'|trans }}</span>
                    <span class="switch">
                        <span class="slider round"></span>
                    </span>
                </label>
            </div>
            <a href="{{ path('fos_user_resetting_request') }}" class="passwordRequest">{{ "login.password_lost" | trans}}</a>
            <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />

            {% if csrf_token %}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            {% endif %}
        </form>

    </div>
    <div class="register">
        <div class="box">
            <div class="no_account">{{ 'Pas de compte ? ' | trans }} <a href="{{ path('fos_user_registration_register') }}">{{ 'Créez-en un' | trans }}</a> </div>
        </div>
    </div>


{% endblock content_profile %}