{% extends isSubRequest ? '@ScyLabsUser/empty.html.twig' : "@ScyLabsUser/layout.html.twig" %}
{% trans_default_domain 'ScyLabsUserBundle' %}

{% import _self as macros %}
{% macro showForm(last_username,error,locale) %}
    <form action="{{ path("login",{"_locale":locale}) }}" method="post">
        <div class="form-group">
            <label for="username">{{ 'security.login.username'|trans }}</label>
            <input type="text" id="username" name="email" value="{{ last_username }}" required="required" autocomplete="username" />
        </div>
        <div class="form-group">
            <label for="password">{{ 'security.login.password'|trans }}</label>
            <input type="password" id="password" name="password" required="required" autocomplete="current-password" />
       

        </div>
         {% if error %}
            <div class="form-group">
                <div class="error">
                    {{ error.messageKey|trans(error.messageData) }}
                    {% if error.message  == 'security.login.not_activated' %}
                        <br/>{{ 'security.login.not_found_email' | trans  }} <a href="">{{ 'security.login.resend_mail' | trans }}</a>
                    {% endif %}
                </div>
               
            </div>
        {% endif %}
        
        <div class="form-group remember_group">
            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />

            <label for="remember_me">
                <span class="text">{{ 'security.login.remember_me'|trans }}</span>
                <span class="switch">
                    <span class="slider round"></span>
                </span>
            </label>
        </div>

        <a href="#" class="passwordRequest">{{ "login.password_lost" | trans}}</a>
        <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
    </form>
{% endmacro %}
{% block content_profile %}

    {% if not isSubRequest %}
        <div class="containers_forms">
            <div class="login_register_forms">
                
                    <ul class="tabs">
                        <li data-index="0" class="active">{{ 'login_form.login' | trans }}</li>
                        <li data-index="1">{{ 'login_form.register' | trans }}</li>
                    </ul>
            
                <div class="active tab" data-index="0">
                    {{ macros.showForm(last_username,error,locale) }}


                </div>
                <div class="tab" data-index="1">
                    {{ registrationForm.content | raw }}
                </div>
            </div>
        </div>
    {% else %}
        {{ macros.showForm(last_username,error,locale) }}
    {% endif %}
{% endblock content_profile %}