{% extends isSubRequest ? '@ScyLabsUserProfile/empty.html.twig' : "@ScyLabsUserProfile/layout.html.twig" %}
{% trans_default_domain 'ScyLabsUserProfileBundle' %}

{% import _self as macros %}
{% macro showForm(last_username,error,csrf_token,locale) %}
    <form action="{{ path("login",{"_locale":locale}) }}" method="post">
        <div class="form-group">
            <label for="username">{{ 'security.login.username'|trans }}</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username" />
        </div>
        <div class="form-group">
            <label for="password">{{ 'security.login.password'|trans }}</label>
            <input type="password" id="password" name="_password" required="required" autocomplete="current-password" />

        </div>
        {% if error %}
            <div class="error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        <div class="form-group remember_group">
            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />

            <label for="remember_me">
                <span class="text">{{ 'security.login.remember_me'|trans }}</span>
                <span class="switch">
                    <span class="slider round"></span>
                </span>
            </label>
        </div>
        <a href="{{ path('fos_user_resetting_request') }}" class="passwordRequest">{{ "login.password_lost" | trans}}</a>
        <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />

        {% if csrf_token %}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        {% endif %}
    </form>
{% endmacro %}
{% block content_profile %}

    {% if not isSubRequest %}
        <div class="containers_forms">
            <div class="login_register_forms">
                
                    <ul class="tabs">
                        <li data-index="0" class="active">{{ 'login_form.login' | trans }}</li>
                        <li data-index="1">{{ 'login_form.register' | trans }}</li>
                    </ul>
            
                <div class="active tab" data-index="0">
                    {{ macros.showForm(last_username,error,csrf_token,locale) }}

                </div>
                <div class="tab" data-index="1">
                {{ registrationForm.content | raw }}
                </div>
            </div>
        </div>
    {% else %}
        {{ macros.showForm(last_username,error,csrf_token,locale) }}
    {% endif %}
{% endblock content_profile %}