{% extends isSubRequest ? '@ScyLabsUser/empty.html.twig' : "@ScyLabsUser/layout.html.twig" %}
{% trans_default_domain 'ScyLabsUserBundle' %}

{% block content_profile %}

    {% if isSubRequest %}
        {{ form_start(form, {'method': 'post', 'attr': {'class': 'fos_user_registration_register'}}) }}
        {{ form_widget(form) }}
        <div>
            <input type="submit" value="{{ 'registration.submit'|trans }}" />
        </div>
        {{ form_end(form) }}
    {% else %}
        
        <div class="containers_forms">
            <div class="login_register_forms">
            
                {% if not isSubRequest %}
                    <ul class="tabs">
                        <li data-index="0" >{{ 'login_form.login' | trans }}</li>
                        <li data-index="1" class="active">{{ 'login_form.register' | trans }}</li>
                    </ul>
                {% endif %}
                <div class="form tab" data-index="0">
                    {{ loginForm.content | raw }}
                </div>
                <div class="tab active" data-index="1">
                    {{ form_start(form, {'method': 'post', 'attr': {'class': 'fos_user_registration_register'}}) }}
                        {{ form_widget(form) }}
                        <div>
                            <input type="submit" value="{{ 'registration.submit'|trans }}" />
                        </div>
                    {{ form_end(form) }}
                     {% for flashError in app.flashes('verify_email_error') %}
                        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
                    {% endfor %}
                </div>
            
            </div>
           
        </div>
    {% endif %}

{% endblock content_profile %}